<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beers</title>
    <link rel="stylesheet" href="./stylesheets/{{style}}">
    
</head>
<body>
      <div id="navLayout">
        <nav>
            <a class="btn" href="/">Home</a>
            <a class="btn" href="/beers">Beers</a>
            <a class="btn" href="/random-beer">Random Beer</a>
        </nav>
    </div>
    {{{body}}}   
</body>
<footer id="footer"> <p>Developed by Lu!</p></footer>
</html>
